sitecore-system-sapi/src/main/mule/sitecore-system-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="api-health-check" doc:id="6031748c-8233-458a-9cf5-a35b1a9b5c81" >
		<ee:transform doc:name="Health Api Transform" doc:id="4b3d0f49-79b2-4388-b890-1972cfcd6b50" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"application_name":p("application.name"),
"application_version":p("application.version"),
"api_name":p("application.instanceName"),
"environment":p('application.env'),
"status":p("application.status")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get-asset-by-id-flow" doc:id="eb6064a5-1259-4e05-a376-11169ef56f65" >
		<logger level="INFO" doc:name="Flow Started Logger" doc:id="fd7fdcfc-c73a-4704-8d81-eb65ade8fcc0" message='"get asset by id in sitecore sapi started"' />
		<http:request method="${sitecore.methodPost}" doc:name="Request Sitecore Entity" doc:id="40096e48-528e-4ce8-a8cb-7793eb895ead" config-ref="http_request_configuration" path="${sitecore.pathOne}" responseTimeout="999999999" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"Key" : "Value"
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Data Transformed To Json" doc:id="1e2bcff3-7933-4d19-935b-a235a855533c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Flow Ended Logger" doc:id="68bf3edf-1f16-496c-89b9-8ae1d40425b5" message='"get asset by id flow ended succesfully"' />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="18401cbb-a9aa-4da6-8534-d305efb7de9d" >
				<ee:transform doc:name="Transform Message" doc:id="dbe64e77-2691-40ff-bff2-3926d4e3ddc9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Error_Code":error.id,
	"Error_Message": error.message,
	"Error_Description":error.description
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="update-url-flow" doc:id="b7fac556-caeb-4588-bcff-98341c034a20" >
		<logger level="INFO" doc:name="Started Flow Logger" doc:id="374d8f88-3265-4a88-a9f9-07fbe249f4b0" message='"update url floe started in sapi"' />
		<http:request method="${sitecore.methodUpdate}" doc:name="Update Sitecore Entity" doc:id="ac3cdd63-79ba-4e58-8261-8e6cbaaf3cc3" config-ref="http_request_configuration" path="${sitecore.pathOne}" responseTimeout="999999999" />
		<logger level="INFO" doc:name="Ended Flow Logger" doc:id="f44b32d4-517f-442e-9032-632f4da6dac7" message='"update url ended in sapi"' />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="867bb20f-0ef1-4935-9213-2a4ea1b8b3c3" type="HTTP:BAD_GATEWAY, HTTP:BAD_REQUEST, HTTP:CONNECTIVITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Error To Json" doc:id="6495770c-4f95-4101-b087-7b1dc4d71ecd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Error_Code":error.id,
	"Error_Message": error.message,
	"Error_Description":error.description
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get-all-assets" doc:id="e97ada60-577c-464e-94d6-e5b4f8f47357" >
		<logger level="INFO" doc:name="Started Flow Logger" doc:id="b36070b0-a0e9-42e5-ab54-377da503c6dc" message='"get all assets flow started"' />
		<http:request method="${sitecore.methodPost}" doc:name="Get All Item Request" doc:id="87c0c293-5666-4164-84ae-2cb36615e1bb" config-ref="http_request_configuration" path="${sitecore.pathAll}" responseTimeout="999999999" />
		<logger level="INFO" doc:name="Flow Ended Logger" doc:id="38513148-f354-48d7-8c14-11d102514959" message='"get all assets flow ended in sapi"' />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a97d80b8-5021-4116-9259-e8d48122e009" type="HTTP:BAD_GATEWAY, HTTP:BAD_REQUEST, HTTP:CONNECTIVITY, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message" doc:id="65c5755c-8798-4674-b496-1559e6ee75b0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Error_Code":error.id,
	"Error_Message": error.message,
	"Error_Description":error.description
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
