ssl-server/src/main/mule/ssl-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="cf34129d-96f0-4249-8ed1-8939e1d52cd8" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="8081" >
			<tls:context >
				<tls:key-store type="jks" path="certificates\sitecore-server-keystore.jks" keyPassword="sitecore" password="sitecore" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="ssl-demoFlow" doc:id="d4fe1d04-62d4-451d-b8fa-c1c3abf7e73e" >
		<http:listener doc:name="Listener" doc:id="0bb560c5-ba53-4f38-beb4-dafff9a16113" config-ref="HTTP_Listener_config1" path="/sslServer"/>
		<ee:transform doc:name="Transform Message" doc:id="3a86e5a7-793e-4c16-8e96-3d044aeed338" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "report": [
        {
            "bank account number": "00000",
            "bank account name": "test",
            "bank name": "Hx",
            "sort code": "12334444",
            "external bank id": "0000",
            "last updated by": " finance"
        }
    ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="c1d72d91-a5cf-4ed0-ac03-6ef4baddc91b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payload.repot map((value,key)->
    if(key as String == "relations"){
       (key): value filterObject ((value, key) -> !(arr contains (key) as String))
    }
    else{
        (key): value
    }
)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
